body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(78, 78, 171);
  }
  h1 {
    font-size: 40px;
    font-weight: 500;
    font-family: cursive;
    color: white;
  }
  form input {
    width: 220px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-family: cursive;
  }
  #add {
    background-color: rgb(159, 152, 152);
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: cursive;
    outline: 2cm;
  }
  
  /* end of header styling */
  
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stats {
    display: flex;
    flex-direction: row;
  }
  .stats li {
    list-style: none;
    margin: 10px;
    border: 2px solid grey;
    font-family: cursive;
    font-size: 14px;
    width: 100px;
    text-align: center;
    background-color: rgb(78, 78, 171);
    border-radius: 5px;
    color: white;
  }
  li #total-tasks,
  li #completed-tasks,
  li #remaining-tasks {
    color: red;
  }
  
  .todos {
    margin-bottom: 4rem;
    width: 350px;
    flex-direction: column-reverse;
  }
  .todos li {
    background-color: rgb(78, 78, 171);
    border-radius: 5px;
    margin-bottom: 1rem;
    list-style: none;
    padding: 1.5rem, 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .todos li div {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  
  .todos li.complete {
    background-color: rgb(159, 152, 152);
    text-decoration: line-through;
    color: white;
  }
  input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin-left: 3px;
    width: 1rem;
    height: 1rem;
    border: 2px solid black;
    border-radius: 20px;
    display: grid;
    place-content: center;
  }
  input[type="checkbox"]::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-check2' viewBox='0 0 16 16'%3E%3Cpath d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
    transform: scale(0);
    transition: all 0.2s ease-in-out;
  }
  input[type="checkbox"]:checked {
    background-color: white;
    border-color: white;
    color: lightblue;
  }
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  .todos li button {
    border: 0;
    padding: 0.25rem;
    display: grid;
    place-content: center;
    background-color: transparent;
  }
  .todos li button svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  .todos li span {
    padding: 2px;
    border-radius: 5px;
    transform: scale(1);
  }
  .todos li span:focus {
    background-color: aliceblue;
    outline: none;
  }

  .footer{
    background-color: rgb(78, 78, 171);
    height: 12rem;
    width: 100%;
    color: blanchedalmond;
    font-size: large;
    text-align: center;
    padding-top: 0.5rem;
  }
  
  /* media querries */
  
  @media (max-width: 480px) {
    body {
      width: 100%;
      height: 100vh;
    }
    form input {
      width: 320px;
      height: 40px;
      font-size: 16px;
    }
    form #add {
      height: 45px;
      width: 100px;
      font-size: 15px;
      font-weight: 700;
    }
    .stats li {
      width: 120px;
      height: 30px;
      text-align: center;
      font-size: 16px;
    }
    .todos li div {
      height: 60px;
    }
    .todos li div span {
      font-size: 18px;
    }
  }
  @media (max-width: 420px) {
    body {
      height: 100vh;
    }
    .container {
      width: 100%;
      position: relative;
      left: 0.8rem;
    }
    form #add {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    form button {
      position: relative;
      left: 35%;
    }
  }